*{
   padding :0px;
   margin:0px;
}

nav ul{
    background-color: black;
    width:100vw;
    height:69px;
    display:flex;
    color:white;
    align-items: center;
    list-style-type: none;
   
    
}



nav ul li {

   margin-right: 10px;
   padding-right: 10px;
   
   
}

nav ul li a{
    text-decoration: none;
    color:white;
}

.brand{
    display: flex;
    align-items : center;
    justify-content:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:1.5rem;
     margin-right:20px; 


}

.brand img{
    width:44px;
    padding-left: 10px;
    
}

.container{
    min-height: 65vh;
    background-color:black;
    color: white;
    display:flex;
    margin:25px auto;
    margin-bottom: 25px;
    border-radius:12px;
    width:70%;
    padding : 18px ;
    background-image: url('bg_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    

}

.songlist h1{
    margin-bottom: 5px;
  
}

.songItem{
    height:50px;
    display:flex;
    margin-bottom:12px;
    
    align-items : center;
    /* background-color: aqua; */
    justify-content:space-between;
    background-color: white;
    width:100%;
    color:black;
   font-weight:bold;
   border-radius : 34px;
}


.songItem img{
    /* height: 50px ; */
    width:43px;
    margin-left:23px;
    border-radius: 45px;

}


.songlist{
    margin-top:25px;
   width:44%;
}

.songlistplay {
   
    margin-right:23px;
    margin-left:23px;
}

.songlistplay i {
    cursor:pointer;
}

.timestamp{
    margin-right: 0 23px;
}


.songItemContainer{
    margin-top:35px;
   
}
/* bottom */

.bottom{
    position: sticky;
    background-color: black;
    bottom: 0px;
    height:150px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



#myProgressBar{
    width:80vw;
    cursor:pointer;
}

.icons{
    color:white;
    margin-top:25px;
    font-size:3.5rem ;
   
}
.icons i{
    font-size: 3rem;
    padding-right:3px;
    cursor:pointer;
}

.songInfo{
    display:flex;
    align-items : center;
   color:white;
   position :absolute;
   left:0vw;
   margin-top:25px;
   margin-left: 152px;
}

.songInfo img{
    
   opacity :0;
   transition :opacity 0.4s ease-in;
    width:135px;
   
}
 

